.clock {
  font-family: "clockicons", Helvetica, sans-serif;
}
.w-40 {
  width: 40% !important;
}
*{
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  
}
body{
  background: radial-gradient(circle at 7.4% 45.1%, rgb(236, 206, 251) 0%, rgb(205, 237, 246) 45.1%, rgb(227, 251, 252) 78.4%, rgb(230, 247, 235) 90%);
}
.f-20{
  font-size: 20px !important;
}
.swal2-actions{
  width: 100% !important;
}
.swal2-confirm {
  width: 80% !important;
  background-color: #386bc0 !important;
}
.container:hover{
  cursor:pointer;
}
.card{
  background: radial-gradient(circle at -3.3% 48%, rgb(141, 146, 239) 0%, rgb(99, 229, 254) 90%) !important;
}
