.clock {
  font-family: "clockicons", Helvetica, sans-serif;
}
.w-40 {
  width: 40% !important;
}
*{
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}
.f-20{
  font-size: 20px !important;
}
.swal2-actions{
  width: 100% !important;
}
.swal2-confirm {
  width: 80% !important;
  background-color: #386bc0 !important;
}
.container:hover{
  cursor:pointer;
}